/* Hide scrollbar cross-browser */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.notification-box {
  display: flex;
  align-items: center;
  background-color: #c8e6c9; /* Soft, professional green */
  color: #388e3c; /* Rich green */
  border-radius: 4px; /* Slightly less rounded for a sleeker look */
  padding: 15px 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for depth */
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  font-family: 'Roboto', sans-serif; /* Modern font */
  font-size: 18px; /* Increased font size for better readability */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Smooth fade and slide-out */
}

.green-tick {
  font-size: 24px; /* Larger tick icon for better visibility */
  margin-right: 15px;
}

.message {
  font-size: 18px; /* Consistent size with the text for readability */
  flex-grow: 1;
}

.close-btn {
  background: none;
  border: none;
  color: #388e3c;
  font-size: 22px; /* Larger button for easy click */
  cursor: pointer;
  margin-left: 15px;
  padding: 5px 10px; /* Padding around the button */
  border-radius: 4px; /* Subtle rounding */
  transition: background-color 0.2s ease; /* Button hover effect */
}

.close-btn:hover {
  background-color: #a5d6a7; /* Slight hover effect for button */
}



.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f53f9a; /* Tailwind blue-500 */
  border-color: #f53f9a transparent #f53f9a transparent;
  animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-progress-bg {
  animation: professionalFill 1.8s ease-in-out forwards;
  transform-origin: left;
}

.zigzag-clip {
  clip-path: polygon(
    0 0, 100% 0,
    95% 10%, 100% 20%,
    95% 30%, 100% 40%,
    95% 50%, 100% 60%,
    95% 70%, 100% 80%,
    95% 90%, 100% 100%,
    0 100%
  );
}

.shadow-neumorph {
  box-shadow: 6px 6px 10px #bebebe, -6px -6px 10px #ffffff;
}
.shadow-neumorph-hover {
  box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}














